* {
    margin: 0px;
    padding: 0px;

}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;

}

#navbar {
    position: relative;
    display: flex;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {

    padding: 22px 16px;
    color: white;
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 412px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('./bg3.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}
#home p{
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
#services{
    display: flex;
    margin: 34px;
}

#services .box {
    border: 2px solid brown;
    margin: 10px;
    padding: 10px;
    border-radius: 28px;
}

#services .box img {
    display: block;
    margin: auto;
    height: 160px;
}

#client-section{
    height: 344px;  
    /* position: relative;  */
}
#client-section::before{
    content: "";
    height: 100%;
    width: 100%;
    background: url('/bg1.png');
    z-index: -1;
    opacity: 0.3;
    position: absolute;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
 #clients img{
    height: 124px;

 }
 .client-item{
    padding: 34px;
 }
 #contact{
    position: relative;

 }
 #contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('/lp.webp');
 }
 #contact-box{
    display: flex;
    justify-content: center;
    align-items: center;

 }
 #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
 }
 #contact-box form{
    width: 40%;
 }
 #contact-box label{
    font-size: 1.3rem;
 }
 footer{
    background: black;
    color: white;
    padding: 9px 20px;
 }